.container {
  padding-top: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  height: 100vh;
  position: relative;
}
.heading {
  font-size: 1.5rem;
  font-weight: 500;
}
.groups {
  width: 100%;
  text-align: start;
  height: 100vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.groups::-webkit-scrollbar {
  width: 8px;
}
.groups::-webkit-scrollbar-track {
  background: #d9d9d9;
  border-radius: 1rem;
}
.groups::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: white;
}
.groups .group {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
  padding: 0.6rem 2rem;
  border-radius: 1rem;
  cursor: pointer;
}
.logo {
  font-size: 0.9rem;
  height: 2.5rem;
  width: 2.5rem;
  background-color: red;
  color: white;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: 500;
}
.name {
  font-size: 1rem;
  font-weight: 500;
  color: black;
}
.button {
  position: fixed;
  bottom: 1rem;
  left: 12rem;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 100%;
  border: none;
  background-color: #16008b;
  cursor: pointer;
  color: #fff;
  font-weight: 500;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .button {
    left: 16rem;
  }
}
