@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.container {
  width: 100%;
  height: 100vh;

  display: flex;
}

.sidebar {
  width: 25%;
  background-color: white;
}
.content {
  width: 75%;
  background-color: #dae5f5;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  .sidebar {
    width: 100%;
    height: 100%;
  }
  .content {
    display: none;
    width: 100%;
  }
}
